<div class="col-lg-6 col-md-6 ml-auto mr-auto">
  <div class="ui-block shadow-lg rounded">
    <div class="ui-block-content">
      <h1 class="text-center pb-4">New Stylesheet</h1>
      <%= render 'form', stylesheet: @stylesheet %>
    </div>
  </div>
</div>