<div class="col-lg-8 col-md-8 ml-auto mr-auto">
  <div class="ui-block shadow-lg rounded">
    <div class="ui-block-content">
      <h1 class="text-center pb-4">Edit Survey Type</h1>
      <%= render 'form', survey_type: @survey_type %>
    </div>
  </div>
</div>