<div class="row pb-5">
  <div class="col-lg-6 col-md-6 ml-auto mr-auto">
    <div class="ui-block shadow-lg rounded">
      <div class="ui-block-content">
        <h1 class="text-center pb-4">Edit Client</h1>
        <%= render 'form', client: @client %>
      </div>
    </div>
  </div>
</div>
