<div class="row pb-5">
  <div class="col-lg-8 col-md-8 ml-auto mr-auto">
    <div class="ui-block shadow-lg rounded">
      <div class="ui-block-content">
        <h1 class="text-center pb-4">Edit Field Note</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>