// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import 'selectize';
@import 'selectize.bootstrap3';
@import 'bootstrap-datepicker3';
@import 'daterangepicker';
@import 'datetime_picker_input';
@import "tempusdominus-bootstrap-4.css";
@import 'custom';
@import "direct_uploads";
@import "datatables";
@import 'bootstrap-multiselect';

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
