<div class="col-lg-8 col-md-8 ml-auto mr-auto pb-4">
  <div class="ui-block shadow-lg rounded">
    <div class="ui-block-content">
      <h1 class="text-center pb-4">Edit Instrument</h1>
      <%= render 'form', instrument: @instrument %>
    </div>
  </div>
</div>